
@{
    ViewBag.Title = "Home Page";
}
<head>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/chat.css">

</head>
<body id="bodyMain" >
    @{ 
        Html.RenderPartial("~/Views/TrackingTour/TrackingTourView.cshtml");
    }

</body>