@model MonitoringTourSystem.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    function searchTour() {
        var id = $('#nametour').val();
        $.ajax({
            url: "/Home/SearchTourGuide/" + id,
            type: "GET",    
        })
        .done(function (partialViewResult) {
            $("#list-tour").html(partialViewResult);
        });
    }
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@*<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBGdBwIy95layOTnAy1Ovp07urh0OxQrp4"></script>*@

<div class="containr">
    <!-- Modal -->
    <div id="myModal" style="height: 90%" role="dialog">
        <div class="modal-dialog" style="width: 90%; height: 90%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background: #1FB5AD;border-top-left-radius: 6px; border-top-right-radius: 6px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: #FFFFFF">CẢNH BÁO</h4>
                </div>
                <div class="modal-body" style="background: #FAFAFA; width: 100%;">

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row" style="background: #FAFAFA; height: 150px;">

                                <div class="col-sm-4">
                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <label for="exampleInputEmail1">Tên cảnh báo</label>
                                        <div class="input text required"><input class="form-control" id="tourcode" required="required" placeholder="Nhập tên tour" maxlength="255" type="text"></div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <label for="exampleInputEmail1">Loại cảnh báo</label>
                                        <select id="tourguide" style="width: 100%; height: 33px;">
                                            <option>Khủng bố</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <label for="exampleInputEmail1">Chi tiết cảnh báo</label>
                                        <textarea class="form-control" style="resize: none;" rows="4" id="descriptionTour" placeholder="Nhập chi tiết cảnh báo..."></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group" style="margin-bottom: 5px; border-radius: 5px;">
                                        <label for="exampleInputEmail1">Bán kính</label>
                                        <select id="tourguide" style="width: 100%; height: 33px;">
                                            <option> 5 KM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="height: 300px;">
                                <input id="pac-input" class="controls" type="text" placeholder="Tìm địa điểm cảnh báo" style="font-family: Roboto,Arial,sans-serif; border-radius: 4px;font-size: 12px;">
                                <div id="map_canvas1" style="height:100%; width:97.7%;">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3" style="margin-top: 15px;">
                            <div class="row" style="margin-right: -5px;">
                                <div class="alert alert-success" style="margin-top: 10px;">
                                    Danh sách tour nhận
                                </div>
                            </div>
                            <div class="row" style="background: #FFFFFF; margin-right: -5px; margin-top: -25px; height: 100%;">

                                <div id="list-tour" style="height: 100% ; overflow-y: hidden">
                                    <ul class="list-tour" id="nav-accordion">
                                        <li class="sub-menu">

                                            <a onclick="getMarkerSelected(1);" href="javascript:;">
                                                <h4 style="color: black">Huy Ngo</h4>
                                                <span>VT1234</span>
                                            </a>
                                            <ul class="sub" style="overflow: hidden; display: none;">
                                                <li>
                                                    <a id="myBtn" onclick="showPopup();" href="#">Gửi cảnh báo</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Chat</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Thông tin chi tiết</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="list-tour" id="nav-accordion">
                                        <li class="sub-menu">

                                            <a onclick="getMarkerSelected(2);" href="javascript:;">
                                                <h4 style="color: black">Duc Nguyen</h4>
                                                <span>NNSGN135-277-111016VN</span>
                                            </a>
                                            <ul class="sub" style="overflow: hidden; display: none;">
                                                <li>
                                                    <a id="myBtn" onclick="showPopup();" href="#">Gửi cảnh báo</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Chat</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Thông tin chi tiết</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="list-tour" id="nav-accordion">
                                        <li class="sub-menu">

                                            <a onclick="getMarkerSelected(2);" href="javascript:;">
                                                <h4 style="color: black">Bao Tran</h4>
                                                <span>DN2016</span>
                                            </a>
                                            <ul class="sub" style="overflow: hidden; display: none;">
                                                <li>
                                                    <a id="myBtn" onclick="showPopup();" href="#">Gửi cảnh báo</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Chat</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Thông tin chi tiết</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <ul class="list-tour" id="nav-accordion">
                                        <li class="sub-menu">

                                            <a onclick="getMarkerSelected(2);" href="javascript:;">
                                                <h4 style="color: black">Bao Le</h4>
                                                <span>DN2016</span>
                                            </a>
                                            <ul class="sub" style="overflow: hidden; display: none;">
                                                <li>
                                                    <a id="myBtn" onclick="showPopup();" href="#">Gửi cảnh báo</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Chat</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Thông tin chi tiết</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Gửi cảnh báo</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var marker;
    var map1;
    var geocoder;
    var infowindow;
    function initAutocomplete1() {
      map1 = new google.maps.Map(document.getElementById('map_canvas1'), {
        center: {lat: -33.8688, lng: 151.2195},
        zoom: 16,
        mapTypeId: 'roadmap'
      });



      geocoder = new google.maps.Geocoder;
      infowindow = new google.maps.InfoWindow;

      google.maps.event.addListener(map1, "click", function(event) {
              placeMarker(event.latLng);
              var latitude = event.latLng.lat();
              var longitude = event.latLng.lng();
              geocodeLatLng(geocoder, map1, infowindow,latitude,longitude);
      });
      // Create the search box and link it to the UI element.
      var input = document.getElementById('pac-input');
      var searchBox = new google.maps.places.SearchBox(input);
      map1.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

      // Bias the SearchBox results towards current map's viewport.
      map1.addListener('bounds_changed', function() {
        searchBox.setBounds(map1.getBounds());
      });

      var markers = [];
      // Listen for the event fired when the user selects a prediction and retrieve
      // more details for that place.
      searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();

        if (places.length == 0) {
          return;
        }

        // Clear out the old markers.
        markers.forEach(function(marker) {
          marker.setMap(null);
        });
        markers = [];

        // For each place, get the icon, name and location.
        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
          if (!place.geometry) {
            console.log("Returned place contains no geometry");
            return;
          }

          placeMarker(place.geometry.location);
          // Create a marker for each place.


          if (place.geometry.viewport) {
            // Only geocodes have viewport.
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
        });
        map1.fitBounds(bounds);
      });
    }
</script>

<script type="text/javascript">

    function placeMarker(location) {
        if ( marker ) {

          marker.setPosition(location);

        } else {
        marker = new google.maps.Marker({
          position: location,
          map: map1
        });
      }
    }

    function geocodeLatLng(geocoder, map, infowindow, latClick, longClick) {

      var latlng = {lat: latClick, lng: longClick};
      geocoder.geocode({'location': latlng}, function(results, status) {
      if (status === 'OK') {
        if (results[1]) {

          //
          infowindow.setContent(results[1].formatted_address);
          infowindow.open(map1, marker);
        } else {
          //window.alert('No results found');
        }
      } else {
        //window.alert('Geocoder failed due to: ' + status);
      }
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGdBwIy95layOTnAy1Ovp07urh0OxQrp4&libraries=places&callback=initAutocomplete1" async defer></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/Home/css/chat.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/Home/css/homestyle.css">
<script src="~/Scripts/Home/home.js" async defer></script>
<script src="~/Scripts/markerAnimate.js"></script>
<script src="~/Scripts/SlidingMarker.js"></script>


<div id="main-content" style="background-color: #1FB5AD; height: 100%;">
    <div class="wrapper" style="background-color: white; height: 87.5%; padding-top: 15px;">
        <div class='row' style="height: 100%; width: 100%; margin: 0px;">
            <div class="col-sm-3" style="height:100%; ">
                <div style="width:100%; background-color: white; height: 100%; ">
                    <div class="container-tabbar">
                        <p style="padding-top: 14px; font-size: 20px;">QUẢN LÝ TOUR</p>
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Tour</a></li>
                            <li><a data-toggle="tab" href="#menu1">Cảnh báo</a></li>
                            <li><a data-toggle="tab" href="#menu2">Trợ giúp</a></li>
                        </ul>

                        <div class="tab-content" style="border-radius: 3px; border-left: 1px solid #EAEBED; border-right: 1px solid #EAEBED; border-bottom: 1px solid #EAEBED; margin-top: -11px;">
                            <div id="home" class="tab-pane fade in active" style="padding-left: 10px; padding-right: 10px; padding-top: 10px; margin-top: 10px;">
                                <div id="searchform">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Tìm kiếm tour theo mã..." id="nametourVietNam" onkeyup="searchTour();" name="query" value="">
                                        <div class="input-group-btn">
                                            <button type="submit" id="Search" class="btn">
                                                <i class="fa fa-search" style="color: gray" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="input-group" style="margin-top: 10px; width: 100%;">
                                        <select id="region" style="width: 100%; margin-right: 10px; height: 34px; border-radius: 4px;">
                                            <option style="font-size: 18px;" value="0" disabled selected>Chọn miền</option>
                                        </select>   
                                    </div>
                                    <div class="alert alert-success" style="margin-top: 10px;">
                                        Tour đang hoạt động
                                    </div>
                                    <div id="list-tour" style="height: 100% ; overflow-y: hidden">
                                        @{
                                            Html.RenderPartial("ListTourGuide", Model);
                                        }
                                    </div>
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade" style="padding-left: 10px; padding-right: 10px; padding-top: 10px; margin-top: 10px;">
                                <h3>Menu 1</h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div id="menu2" class="tab-pane fade" style="padding-left: 10px; padding-right: 10px; padding-top: 10px; margin-top: 10px;">
                                <h3>Menu 2</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>

                        </div>
                    </div>
                </div>
                    @*<div style="width:100%; background-color: white; height: 100%; border-radius: 3px; border: 1px solid #EAEBED">
                <div style="height: 7%;  border-top-left-radius: 5px; border-top-right-radius: 5px;">
                    <p style="padding-top: 16px; margin-left: 12px; font-size: 16px;">Tìm kiếm nhanh</p>
                </div>
                <div style="height: 1%;">
                </div>
                <div class="dropdown" style="height: 7%;  padding-left: 4px; padding-right: 4px;">
                    <button class="btn" style="width: 100% ;" type="button" data-toggle="dropdown">
                        <span>Tìm Theo Tỉnh Thành</span>
                        <span class="caret"></span>
                    </button>
                </div>
                <div style="height: 1%;">
                </div>
                <div style="height: 7%; padding-left: 4px; padding-right: 4px;">
                    <div id="searchform">
                        <div class="input-group">
                            <input type="text" class="form-control" style="text-transform:uppercase" placeholder="Tìm kiếm tour theo mã..." id="nametour" onkeyup="searchTour();" name="query" value="">
                            <div class="input-group-btn">
                                <button type="submit" id="Search" class="btn">
                                    <i class="fa fa-search" style="color: gray" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="group-list-tour" style="height: 77%;">
                    <div id="list-tour" style="height: 100% ; overflow-y: hidden">
                        @{
                            Html.RenderPartial("ListTourGuide", Model);
                        }
                    </div>
                </div>
            </div>*@
                </div>
            <div class="col-sm-9" style="height: 100%;  ">
                <div style="height: 10%; background-color: transparent;">
                    <div style="height: 98%; width: 47.5%; background-color: #FAFAFA;  border-radius: 1px;   border: 1px solid #EAEBED; float: left;">
                        <p style="padding-top: 14px; margin-left: 12px; font-size: 20px;">TRACKING TOURGUIDE</p>
                    </div>

                    <div id="message-content" onclick="messageClick();" style="height: 98%; width: 15%">
                        <a href="#">
                            <div style="height: 100%; float: left; width: 30%; display:table-cell; vertical-align:central; text-align:center; padding-top: 18px;">
                                <img alt="" src="~/Content/Images/ic_message.png" height="20" width="20">
                            </div>
                            <div style="height: 100%; float: left; width: 70%;">
                                <p style="color: white; vertical-align:top; font-size: 20px; padding-left: 55px;">12</p>
                                <p style="color: white; font-size: 12px; padding-left: 5px;">Tin nhắn mới</p>
                            </div>
                        </a>
                    </div>
                    <div id="map-content" onclick="mapClick();" style="height: 98%; width: 15%">
                        <div style="height: 100%; float: left; width: 30%; display:table-cell; vertical-align:central; text-align:center; padding-top: 18px;">
                            <img alt="" src="~/Content/Images/loading-process.png" height="20" width="20">
                        </div>

                        <div style="height: 100%; float: left; width: 70%;">
                            <p style="color: white; vertical-align:top; font-size: 20px; padding-left: 55px;">50</p>
                            <p style="color: white; font-size: 12px; padding-left: 22px;"> Hoạt động</p>
                        </div>
                    </div>
                    <div id="right" style="height: 98%; width: 15%">
                        <div style="height: 100%; float: left; width: 30%; display:table-cell; vertical-align:central; text-align:center; padding-top: 18px;">
                            <img alt="" src="~/Content/Images/support.png" height="20" width="20">
                        </div>

                        <div style="height: 100%; float: left; width: 70%;">
                            <p style="color: white; vertical-align:top; font-size: 20px; padding-left: 55px;">3</p>
                            <p style="color: white; font-size: 12px; padding-left: 22px;">Trợ giúp</p>
                        </div>
                    </div>

                </div>
                <div style="height: 2%;">
                </div>
                <div id="primary-div" style="height: 87%;background-color: white; border: 1px solid #EAEBED; border-radius: 3px;">
                    @{
                        var item = Model;
                        if (item.OptionRenderView == 1)
                        {
                            Html.RenderPartial("Map", Model);
                        }
                        if (item.OptionRenderView == 2)
                        {
                            Html.RenderPartial("Message", Model);
                        }
                    }                  
                </div>
                <script>
                    $(document).ready(function () {

                        LoadMarker();
                    });
                </script>
            </div>
        </div>
    </div>
</div>

@*<div class="containr">
    <!-- Modal -->
    <div id="myModal" style="height: 90%" role="dialog">
        <div class="modal-dialog" style="width: 90%; height: 90%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background: #1FB5AD;border-top-left-radius: 6px; border-top-right-radius: 6px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: #FFFFFF">CẢNH BÁO</h4>
                </div>
                <div class="modal-body" style="background: #FAFAFA; width: 100%;">

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row" style="background: #FAFAFA; height: 150px;">

                                <div class="col-sm-4">
                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <label for="exampleInputEmail1">Tên cảnh báo</label>
                                        <div class="input text required"><input class="form-control" id="tourcode" required="required" placeholder="Nhập tên tour" maxlength="255" type="text"></div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <label for="exampleInputEmail1">Loại cảnh báo</label>
                                        <select id="tourguide" style="width: 100%; height: 33px;">
                                            <option>Khủng bố</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <label for="exampleInputEmail1">Chi tiết cảnh báo</label>
                                        <textarea class="form-control" style="resize: none;" rows="4" id="descriptionTour" placeholder="Nhập chi tiết cảnh báo..."></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group" style="margin-bottom: 5px; border-radius: 5px;">
                                        <label for="exampleInputEmail1">Bán kính</label>
                                        <select id="tourguide" style="width: 100%; height: 33px;">
                                            <option> 5 KM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="height: 300px;">
                                <input id="pac-input" class="controls" type="text" placeholder="Tìm địa điểm cảnh báo" style="font-family: Roboto,Arial,sans-serif; border-radius: 4px;font-size: 12px;">
                                <div id="map_canvas1" style="height:100%; width:97.7%;">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3" style="margin-top: 15px;">
                            <div class="row" style="margin-right: -5px;">
                                <div class="alert alert-success" style="margin-top: 10px;">
                                    Danh sách tour nhận
                                </div>
                            </div>
                            <div class="row" style="background: #FFFFFF; margin-right: -5px; margin-top: -25px; height: 100%;">

                                <div id="list-tour" style="height: 100% ; overflow-y: hidden">
                                    <ul class="list-tour" id="nav-accordion">
                                        <li class="sub-menu">

                                            <a onclick="getMarkerSelected(1);" href="javascript:;">
                                                <h4 style="color: black">Huy Ngo</h4>
                                                <span>VT1234</span>
                                            </a>
                                            <ul class="sub" style="overflow: hidden; display: none;">
                                                <li>
                                                    <a id="myBtn" onclick="showPopup();" href="#">Gửi cảnh báo</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Chat</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Thông tin chi tiết</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="list-tour" id="nav-accordion">
                                        <li class="sub-menu">

                                            <a onclick="getMarkerSelected(2);" href="javascript:;">
                                                <h4 style="color: black">Duc Nguyen</h4>
                                                <span>NNSGN135-277-111016VN</span>
                                            </a>
                                            <ul class="sub" style="overflow: hidden; display: none;">
                                                <li>
                                                    <a id="myBtn" onclick="showPopup();" href="#">Gửi cảnh báo</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Chat</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Thông tin chi tiết</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="list-tour" id="nav-accordion">
                                        <li class="sub-menu">

                                            <a onclick="getMarkerSelected(2);" href="javascript:;">
                                                <h4 style="color: black">Bao Tran</h4>
                                                <span>DN2016</span>
                                            </a>
                                            <ul class="sub" style="overflow: hidden; display: none;">
                                                <li>
                                                    <a id="myBtn" onclick="showPopup();" href="#">Gửi cảnh báo</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Chat</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Thông tin chi tiết</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <ul class="list-tour" id="nav-accordion">
                                        <li class="sub-menu">

                                            <a onclick="getMarkerSelected(2);" href="javascript:;">
                                                <h4 style="color: black">Bao Le</h4>
                                                <span>DN2016</span>
                                            </a>
                                            <ul class="sub" style="overflow: hidden; display: none;">
                                                <li>
                                                    <a id="myBtn" onclick="showPopup();" href="#">Gửi cảnh báo</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Chat</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/BeaconUsage">Thông tin chi tiết</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Gửi cảnh báo</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var marker;
    var map;
    var map1;
    var geocoder;
    var infowindow;
    function initAutocomplete1() {
      map = new google.maps.Map(document.getElementById('map_canvas1'), {
        center: {lat: -33.8688, lng: 151.2195},
        zoom: 16,
        mapTypeId: 'roadmap'
      });

  

      geocoder = new google.maps.Geocoder;
      infowindow = new google.maps.InfoWindow;

      google.maps.event.addListener(map, "click", function(event) {
              placeMarker(event.latLng);
              var latitude = event.latLng.lat();
              var longitude = event.latLng.lng();
              geocodeLatLng(geocoder, map, infowindow,latitude,longitude);
      });
      // Create the search box and link it to the UI element.
      var input = document.getElementById('pac-input');
      var searchBox = new google.maps.places.SearchBox(input);
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

      // Bias the SearchBox results towards current map's viewport.
      map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds());
      });

      var markers = [];
      // Listen for the event fired when the user selects a prediction and retrieve
      // more details for that place.
      searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();

        if (places.length == 0) {
          return;
        }

        // Clear out the old markers.
        markers.forEach(function(marker) {
          marker.setMap(null);
        });
        markers = [];

        // For each place, get the icon, name and location.
        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
          if (!place.geometry) {
            console.log("Returned place contains no geometry");
            return;
          }

          placeMarker(place.geometry.location);
          // Create a marker for each place.


          if (place.geometry.viewport) {
            // Only geocodes have viewport.
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
        });
        map.fitBounds(bounds);
      });
    }
</script>

<script type="text/javascript">

    function placeMarker(location) {
        if ( marker ) {

          marker.setPosition(location);

        } else {
        marker = new google.maps.Marker({
          position: location,
          map: map
        });
      }
    }

    function geocodeLatLng(geocoder, map, infowindow, latClick, longClick) {

      var latlng = {lat: latClick, lng: longClick};
      geocoder.geocode({'location': latlng}, function(results, status) {
      if (status === 'OK') {
        if (results[1]) {

          //
          infowindow.setContent(results[1].formatted_address);
          infowindow.open(map, marker);
        } else {
          //window.alert('No results found');
        }
      } else {
        //window.alert('Geocoder failed due to: ' + status);
      }
    });
  }
</script>*@
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGdBwIy95layOTnAy1Ovp07urh0OxQrp4&libraries=places&callback=initAutocomplete1" async defer></script>*@


<style type="text/css">
    button, input, select, textarea {
        border-radius: 4px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .mini-stat > a {
        text-decoration: none;
    }

    .mini-stat {
        text-align: center;
    }

        .mini-stat img {
            margin: 0 auto;
            text-align: center;
        }

    .mini-stat-info span {
        color: #1FB5AD;
        font-size: 16px;
        padding-top: 17px;
        text-align: center;
    }

    .mini-stat-info a {
        text-decoration: none;
    }

    .mini-stat .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
        border-radius: 50%;
    }

    .mini-stat .hvr-glow {
        border-radius: 50%;
    }

    ul.list-tour, ul.list-tour li ul.sub {
        margin: -2px 0 0;
        padding: 0;
    }

    ul.list-tour {
        padding-top: 0px;
    }

        ul.list-tour li {
            border-bottom: 1px dotted #d7d7d7;
        }

            ul.list-tour li a {
                color: gray;
                text-decoration: none;
                display: block;
                padding: 18px 0 18px 12px;
                font-size: 14px;
                outline: none;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }

                ul.list-tour li a:hover {
                    font-weight: bold;
                }

                ul.list-tour li a i {
                    font-size: 15px;
                    padding-right: 6px;
                }

                ul.list-tour li a span {
                    display: inline-block;
                }

            ul.list-tour, ul.list-tour li ul.sub {
                margin: -2px 0 0;
                padding: 0;
            }

                ul.list-tour li ul.sub li {
                    margin-bottom: 0;
                    margin-left: 0px;
                    margin-right: 0;
                }

                    ul.list-tour li ul.sub li a {
                        font-size: 12px;
                        padding-top: 13px;
                        padding-bottom: 13px;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        -ms-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        color: #aeb2b7;
                    }

    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    .pac-container {
        font-family: Roboto;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

        #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    #target {
        width: 345px;
    }
</style>